body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato" , sans-serif;
    color: white;
	background-color : black;
}

div.gallery {
  margin: 180px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 200%;
  height: relative;
}


/* Title & Background carsipat*/
.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.80;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("images/carbg1.jpg");
    height: 70%;
}

.title {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}

.title span.border {
    background-color: #fff;
    color: #000;
    padding: 20px;
    font-size: 25px;
    letter-spacing: 10px;
}

h1 {
	text-align: cen;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #e7e0d4;
	text-align: center;
}

h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #e7e0d4;
	text-align: center;
}



/*Carousel carsipat*/
.carousel {
    width: 1000px;
    height: 300px;
    overflow: hidden;
    position: relative;
    top: 20px;
    bottom: 20px;
    margin: 0 auto;
}

.image-container {
    width: 1500px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 5s;
}

.slide {
    float: left;
    width: 500px;
    height: 300px;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.carousel-running .image-container {
    animation: carousel-animation 15s linear infinite ;
}

/* Images - CAMPUS DRIVE */
div.image-slu img {
    width: 100%;
    padding-bottom: 1%;
}
div.images-portrait, div.images-landscape {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
div.images-portrait img {
    width: 400px;
    height: 600px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000000;
    cursor: pointer;
    transition: 400ms;
}
div.images-landscape img {
    width: 800px;
    height: 450px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000000;
    cursor: pointer;
    transition: 400ms;
}
div.images-portrait img:hover, div.images-landscape img:hover {
    filter: grayscale(1);
    transform: scale(1.03);
}
#drive {
    background: rgb(255, 255, 255);
    /* background: linear-gradient(90deg, rgba(165,189,215,100) 0%, rgba(255,255,255,100) 43%, rgba(206,217,143,100) 100%); */
    color:black;
    padding-top: 5%;
    padding-bottom: 5%;    
}   
#drive > h3 {
    font-family: Georgia ,sans-serif;
    font-size: 36pt;
    text-align: center;
    color: black;
}
.arrow-container {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 2%;
}
.arrow-down {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 25px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

@keyframes carousel-animation {
    0% {
        left: 0;
    }
    50% {
        left: -500%px;
    }

    100% {
        left: -1000px
    }
}

/* Media Queries */
@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }

}
